extends ../../src/pug/layouts/_main

block variables
    //- put your vars here
    - var pageTitle= 'HTML5 Regular Template'

block content
    main(class="main")

block scripts
    script(src="../../src/scripts/scripts.min.js")