extends ../../src/pug/layouts/_main

block mixins
    include ../../src/pug/modules/_mixins

block variables
    //- put your vars here
    - var pageTitle= 'HTML5 Regular Template'
    - var other1 = ['Протоколы', 'Термины', 'Сетевые устройства']

//- block header
//-     +header("Протоколы", "Сетевые устройства", "Термины")

block other
    ul.nav__list-lvl2
        //- each val, index in ["Протоколы", "Сетевые устройства", "Термины"]
        //-     li.nav__list-item
        //-         a(href="#")= val
        each item in other1
            li.nav__list-item
                a(href="#")=item

block content
    main(class="main")
        .quantity_terms
        .container
            .terms
                h2.terms__title Термины
                .network_devices
                    h3.terms__title Сетевые устройства
                    p.terms__description
                        b Маршрутизатор
                        |  — это устройство, предназначенное для пересылки пакетов из одной канальной среды в другую. Также главной его функцией является выбор наилучшего маршрута для пакета. Многие называют данное устройство шлюзом. Так как, если надо передать какой-то пакет из одной канальной среды в другую, промежуточным устройством будет именно шлюз.
                    p.terms__description
                        b Коммутатор ( от англ. switch )
                        |  — это сетевое оборудование, реализующее функции второго (канального) уровня. Как и концентратор, коммутатор соединяет несколько узлов в сеть, но в отличие от первого, он способен передавать кадры данных с порта отправителя на порт получателя без ретрансляции на остальные порты.
                    p.terms__description
                        b Концентратор
                        |  — это один из видов сетевых устройств, которые можно устанавливать на уровне доступа сети Ethernet. На концентраторах есть несколько портов для подключения узлов к сети. Концентраторы — это простые устройства, не оборудованные необходимыми электронными компонентами для передачи сообщений между узлами в сети. Концентратор не в состоянии определить, какому узлу предназначено конкретное сообщение. Он просто принимает электронные сигналы одного порта и воспроизводит (или ретранслирует) то же сообщение для всех остальных портов.
                    p.terms__description
                        b Повторитель. 
                        | Если рассматривать с точки зрения модели OSI, то данное устройство работает на первом уровне. То есть на физическом. Устройство очень простое. Основная задача — это усиление сигнала. Если вспомнить немного курс школьной физики, то у каждого кабеля есть предел затухания сигнала. Если мы говорим о витой паре, то ее максимальная длина может быть до 100 метров.) И для того, чтобы усилить сигнал, применяют данное устройство. Ethernet повторитель может усилить сигнал еще на 100 метров.
                    p.terms__description
                        b Мосты ( Bridge )
                        |  – устройства сети, которое соединяют два отдельных сегмента, ограниченных своей физической длиной, и передают трафик между ними. Мосты также усиливают и конвертируют сигналы для кабеля другого типа. Это позволяет расширить максимальный размер сети, одновременно не нарушая ограничений на максимальную длину кабеля, количество подключенных устройств или количество повторителей на сетевой сегмент.
                .protocols        
                    h3.terms__title Протоколы
                    p.terms__description
                        b ARP 
                        i (Address Resolution Protocol ) 
                        br
                        | Протокол разрешения адресов. Протокол Internet, используемый для динамического преобразования адресов Internet в физические (аппаратные) адреса устройств локальной сети. В общем случае ARP требует передачи широковещательных сообщений всем узлам, на которое отвечает узел с соответствующим запросу IP-адресом.
                    p.terms__description
                        b DHCP 
                        i ( Dynamic Host Configuration Protocol )
                        br 
                        | Протокол динамического конфигурирования узла [хост-машины], протокол DHCP протокол, разработанный IETF для динамического назначения IP-адресов узлам (рабочим станциям) локальной сети на время их сеанса работы в Интернете, чтобы смягчить проблему нехватки 32-разрядных IP-адресов.
                    p.terms__description
                        b DNS 
                        i ( Domain Name System )
                        br
                        | Доменная система именования [имён], служба доменных имён служба Интернет, представляющая собой распределённую базу данных для иерархической системы имён сетей и компьютеров, подключенных к Сети, а также способ преобразования строчных адресов серверов Интернета в числовые IP-адреса.
                    p.terms__description
                        b FTP 
                        i ( File Transfer Protocol )
                        br
                        | Протокол передачи файлов,клиент-серверный протокол из набора протоколов IP, обеспечивающий поиск и пересылку файлов между двумя, возможно, разнородными машинами по сети TCP/IP. Определён в RFC 959. Применяется в Internet для работы с ftp-серверами.
                    p.terms__description
                        b PAP 
                        i ( Password Authentication Protocol )
                        br
                        | Протокол аутентификации по паролю метод аутентификации, реализуемый путём обмена парами идентификаторов/паролей между двумя устройствами.
                    p.terms__description
                        b SNMP 
                        i ( Simple Network Management Protocol )
                        br
                        | Простой протокол управления сетями — это протокол управления сетями связи на основе архитектуры UDP. Устройства, которые обычно поддерживают SNMP это маршрутизаторы, коммутаторы, серверы, рабочие станции, принтеры, модемы и т.д. Протокол призван обеспечить управление и контроль за устройствами и приложениями в сети связи путём обмена управляющей информацией между агентами, располагающимися на сетевых устройствах, и менеджерами, расположенными на станциях управления. SNMP определяет сеть как совокупность сетевых управляющих станций и элементов сети (главные машины, шлюзы и маршрутизаторы, терминальные серверы), которые совместно обеспечивают административные связи между сетевыми управляющими станциями и сетевыми агентами.
                    p.terms__description
                        b SSH 
                        i ( Secure Shell )
                        br
                        | Протокол безопасного доступа к консоли на основе системы кодирования с открытыми ключами.
                    p.terms__description
                        b TCP/IP 
                        i ( Transmission Control Protocol/Internet Protocol )
                        br
                        | Протокол управления передачей/межсетевой протокол. Платформонезависимый набор протоколов для коммуникации в глобальных вычислительных сетях, локальных сетях или во взаимосвязанных комплексах сетей ( TCP , IP ). Состоит из трех базовых наборов протоколов: IP ( сервис нижнего уровня), TCP ( передача данных) и UDP. Предоставляет конечным пользователям два вида служб: службу с установлением логического соединения (TCP) и без установления логического соединения (UDP).
                    p.terms__description
                        b UDP
                        i ( User Datagram Protocol )
                        br
                        | Протокол дейтаграмм пользователя, протокол UDP - сетевой протокол транспортного уровня из набора протоколов TCP/IP. Отдельные пакеты передаются используя IP без проверки на правильность передачи и гарантий доставки, но как можно быстрее. При этом часть пакетов теряется, но, например, при передаче речи звук не прерывается, что важно для обеспечения её разборчивости.

                .other    
                    h3.terms__title Прочее
                    p.terms__description
                        b Ethernet 
                        br
                        | Сеть Ethernet, передающая среда ЛВС с шинной архитектурой, разработанная в исследовательском центре PARC корпорации Xerox ( Роберт Меткалф, 22 мая 1973 г.), а затем адаптированная DEC и Intel.Регламентируется стандартами IEEE 802.3 и ISO 8802.3. Регламентирует в качестве передающей среды коаксиальный кабель, метод управления доступом CSMA/CD, скорость передачи данных 10 Мбит/с, размер пакета от 72 до 1526 байтов, а также метод кодирования данных. В одной сети Ethernet может работать до 1024 рабочих станций. Развитие этой технологии для сетей 100 Мбит/с получило название Fast Ethernet и 1 Гбит/с - Gigabit Ethernet.
                    p.terms__description
                        b Firewall
                        br
                        | Межсетевой экран (МЭ) , брандмауэр, защитная система, [сетевой] заслон, "огненная стена" система (аппаратная или программная) или комбинация систем, образующая в целях защиты границу между двумя или более сетями, предохраняя от несанкционированного попадания в сеть или предупреждая выход из неё пакетов данных. Используется также для разграничения доступа внутри корпоративной сети, при наличии в ней участков с информацией, требующей секретности. Обычно функционирует на маршрутизаторах или выделенных серверах.
                    p.terms__description
                        b Hotspot 
                        br
                        | Публичные беспроводные локальные сети, имеют небольшой радиус покрытия. Организуются в местах наибольшего скопления владельцев портативных компьютеров, что позволяет быстро и достаточно эффективно организовать подключение к сети Интернет частных пользователей.
                    p.terms__description
                        b IP address
                        br
                        | IP -адрес сетевой адрес в Internet - 4-байтовое (32-разрядное) число, задающее уникальный номер хост-компьютера в Internet ( IP Number ).
                    p.terms__description
                        b LAN ( Local Area Network )
                        br
                        | Локальная [вычислительная] сеть, ЛВС один из нескольких видов географически ограниченных коммуникационных сетей. ЛВС соединяет компьютеры, принтеры и другое электронное оборудование, позволяя с высокой скоростью обмениваться различного вида информацией и совместно использовать общие для сети ресурсы (например, принтеры, модемы). Расстояние между компьютерами в ЛВС, как правило, не более 300 м.
                    p.terms__description
                        b MAC-адрес 
                        br
                        | Аппаратный адрес устройства, присоединенного к сетевой среде. 48-битовое число, используемое системой доступа к среде, позволяющее однозначно идентифицировать устройство в локальной сети.
                    p.terms__description
                        b Модель OSI 
                        i ( Open Systems Interconnection )
                        br
                        | Взаимодействие открытых систем, эталонная модель OSI семиуровневая модель протоколов передачи данных, утверждённая ISO в 1984 г., для обеспечения взаимодействия открытых систем. В модели OSI все сетевые функции разделены на уровни таким образом, что все вышележащие уровни пользуются услугами нижележащих через стандартизованные интерфейсы. Такая структура позволяет модифицировать любой из уровней, не затрагивая остальные. Уровни OSI снизу вверх: физический ( physical layer), канальный ( data link layer), сетевой ( network layer), транспортный ( transport layer), сеансовый ( session layer), представления данных ( presentation layer) и прикладной ( application layer).
                    p.terms__description
                        b Модель TCP\IP
                        br
                        | Стек протоколов TCP/IP представляет собой набор протоколов связи, на котором Интернет и большинство коммерческих компьютерных сетей работают.
                        br
                        | Модель TCP\IP делится на 4 уровня:
                        br
                        | 1) Прикладной уровень 
                        br
                        | 2) Транспортный уровень 
                        br
                        | 3) Сетевой уровень 
                        br
                        | 4) Канальный уровень 
                        br
                    p.terms__description
                        b Ping
                        br
                        | Утилита для проверки соединений в сетях на основе протокола TCP/IP. Утилита отправляет запросы (ICMP Echo-Request) протокола ICMP указанному узлу сети и фиксирует поступающие ответы (ICMP Echo-Reply). Время между отправкой запроса и получением ответа (RTT, от англ. Round Trip Time) позволяет определять двусторонние задержки (RTT) по маршруту и частоту потери пакетов, то есть косвенно определять загруженность на каналах передачи данных и промежуточных устройствах.
                    p.terms__description
                        b Proxy Server
                        br
                        | Сервер-посредник, сервер-представитель, proxy -сервер программа кэширования ответов на посылаемые в Internet или в WWW запросы клиентских частей приложений, работающая на прикладном уровне. Копии полученных Web-страниц, файлов и т.д. хранятся какое-то время на сервере, и при получении последующих аналогичных запросов proxy-сервер сам высылает имеющиеся копии, что позволяет сократить время отклика и объём сетевого трафика. Кроме того, proxy-сервер может фильтровать запросы, закрывая доступ к сайтам определённого типа. Структурно proxy-сервер состоит из множества специфических посредников для конкретных приложений: посредника для Web-страниц, для ftp, для электронной почты, для RealAudio и т.п.
                    p.terms__description
                        b Routing 
                        br
                        | Маршрутизация, процесс или метод определения и назначения пути доставки пакетов (сообщений) через одну или более сеть по наиболее подходящему маршруту.
                    p.terms__description
                        b URL 
                        i ( Uniform Resource Locator )
                        br
                        | Унифицированный указатель [информационного] ресурса, URL-адрес, адрес, используемый Web-браузером для поиска ресурса в Интернете. Предложен Тимом Бернерсом-Ли ( Tim Berners-Lee). URL представляет собой стандартизованную строку символов, указывающую местонахождение ресурса, документа или его части в Internet. Она начинается обычно с указания типа протокола (например,FTP :, если документ находится на FTP-сервере или http:, если он на Web-узле), за которым следует идентификатор конкретной информации, например, имя домена, которому принадлежит сервер, название организации или путь имени файла на этом сервере. Суффикс обозначает тип организации.
                    p.terms__description
                        b VLAN 
                        i ( Virtual Private Network )
                        br
                        | Виртуальная локальная компьютерная сеть, представляет собой группу хостов с общим набором требований, которые взаимодействуют так, как если бы они были подключены к широковещательному домену, независимо от их физического местонахождения. VLAN имеет те же свойства, что и физическая локальная сеть, но позволяет конечным станциям группироваться вместе, даже если они не находятся в одной физической сети.
                    p.terms__description
                        b VPN 
                        i ( Virtual Local Area Network )
                        br
                        | Виртуальная частная сеть подсеть корпоративной сети, обеспечивающая безопасное вхождение в неё удалённых пользователей. Подсети используются для безопасной пересылки через Интернет конфиденциальных данных за счёт инкапсуляции (туннелирования) IP -пакетов внутрь других пакетов, которые затем маршрутизируются.
                    p.terms__description
                        b WAN 
                        i ( Wide Area Network )
                        br
                        | Глобальная территориально-распределённая интрасеть, покрывающая значительное географическое пространство (регион, страну, ряд стран) и обеспечивающая передачу информации с использованием коммутируемых и выделенных линий или специальных каналов связи.
                    p.terms__description
                        b WEP 
                        i ( Wired Equivalent Privacy )
                        br
                        | Алгоритм для обеспечения безопасности сетей Wi-Fi. Используется для обеспечения конфиденциальности и защиты передаваемых данных авторизированных пользователей беспроводной сети от прослушивания. В настоящее время данная технология является устаревшей, так как ее взлом может быть осуществлен всего за несколько минут. Тем не менее, она продолжает широко использоваться. Для безопасности в беспроводных сетях рекомендуется использовать WPA.
                    p.terms__description
                        b WPA/WPA2 
                        i ( Wi-Fi Protected Access )
                        br
                        | Новый стандарт безопасности для беспроводных локальных сетей. Технология WPA пришла на замену технологии защиты беспроводных сетей WEP. Плюсами WPA являются усиленная безопасность данных и ужесточенный контроль доступа к беспроводным сетям. Немаловажной характеристикой является совместимость между множеством беспроводных устройств как на аппаратном уровне, так и на программном. В WPA обеспечена поддержка стандартов 802.1X, а также протокола EAP (Extensible Authentication Protocol, расширяемый протокол аутентификации). В WPA2 поддерживается шифрование в соответствии со стандартом AES (Advanced Encryption Standard, усовершенствованный стандарт шифрования), который имеет ряд преимуществ над используемым в WEP RC4, например, гораздо более стойкий криптоалгоритм.
                    p.terms__description
                        b Wireless network 
                        br
                        | Беспроводная сеть, компьютерная сеть, не использующая в качестве среды передачи провода.
                    p.terms__description
                        b Пакет
                        br
                        | Вся работа компьютеров в сети, независимо от назначения и размеров сети, сводится только к одному: обмену информацией. Каждый компьютер имеет встроенный сетевой адаптер, который в свою очередь подключается к кабельной системе.
                        | Перед передачей по сети информация формируется в пакеты. Сетевые адаптеры общаются между собой, передавая и принимая пакеты с информацией. Каждый пакет состоит из двух основных частей: Заголовок и Данные.
                        br
                        | Заголовок содержит адрес компьютера-отправителя и адрес компьютера-получателя.
                        | Раздел данных содержит передаваемую информацию.
                        | Переданный в сеть пакет отправляется на все компьютеры. Получив пакет, они читают заголовок, и только тот компьютер, которому этот пакет адресован, прочтет данные из этого пакета.
                    p.terms__description
                        b CRC 
                        i (Cyclic Redundancy Check - циклическая проверка четности с избыточностью)
                        br 
                        | Схема определения ошибок при передаче данных. На основе полиномиального алгоритма вычисляется контрольная сумма передаваемого модуля данных и передается вместе с данными. Получившее пакет устройство заново вычисляет контрольную сумму по тому же алгоритму и сравнивает ее с принятым значением. Отсутствие расхождений говорит о высокой вероятности безошибочной передачи.
                    p.terms__description
                        b QoS 
                        i (Quality of Service)
                        | - Качество и класс предоставляемых услуг передачи данных. QoS обычно описывает сеть в терминах задержки, полосы и дрожи сигнала.
                    p.terms__description
                        b IPv4 
                        | - это четвертая версия протокола IP (Internet Protocol), которая на сегодняшний является основной и обслуживает большую часть сети Интернет. IPv4 протокол устанавливает правила функционирования компьютерных сетей по принципу обмена пакетами. Это протокол низкого уровня, который отвечает за установку соединения между узлами сети на основе IP-адресов.
                    p.terms__description
                        b IPv6 
                        | - это шестая версия протокола IP (Internet Protocol).
                        br
                        | Преимущества IPv6 перед IPv4:
                        br
                        | 1) Более эффективная маршрутизация без фрагментации пакетов;
                        br
                        | 2) Встроенная технология Quality of Service (QoS), которая определяет чувствительные к задержке пакеты;
                        br
                        | 3) Устранение NAT для расширения адресного пространства с 32 до 128 бит;
                        br
                        | 4) Встроенная поддержка IPsec (использование IPsec опционально);
                        br 
                        | 5) Автоконфигурация адресов для упрощения администрирования сети;
                        br
                        | 6) Улучшенная структура заголовка с меньшими затратами на обработку.
                    p.terms__description
                        b CIDR
                        i  ( Classless Inter-Domain Routing )
                        br
                        | Бесклассовая адресация CIDR. Была разработана в качестве альтернативы традиционным подсетям. С помощью CIDR вы можете добавить спецификацию самого IP-адреса в число значимых битов, составляющих часть маршрутизации или сети.
                        | Например, выразить связь IP-адреса 192.168.0.15 с сетевой маской 255.255.255.0 можно с помощью CIDR-нотации 192.168.0.15/24. Это означает, что первые 24 бита указанного IP-адреса считаются значимыми для сетевой маршрутизации.


block scripts
    script(src="../../src/scripts/scripts.min.js")
    script(src="../../src/scripts/libs/network_terms.js")