extends layouts/_main

block variables
    //- put your vars here
    - var pageTitle= 'HTML5 Regular Template'
    - var navArrayForOther = [{title: 'Link to course 1', link: 'index.html'}, {title: 'Link to course 2', link: 'course2.html'}];

block content
    main(class="main")

block scripts
    script(src="scripts/scripts.min.js")