header(class="header")
    nav.nav 
        ul.nav__list 
            li.nav__list-item
                a.nav__list-item-link(href="#") Главная
            li.nav__list-item
                a.nav__list-item-link(href="#") Курс
                ul.course
                    li.course__item
                        a(href="#") 1 курс
                        ul.course__item-list
                            li
                                a(href="#") 1 семестр
                            li
                                a(href="#") 2 семестр
                    li.course__item
                        a(href="#") 2 курс
                        ul.course__item-list
                            li
                                a(href="#") 1 семестр
                            li
                                a(href="#") 2 семестр
                                ul
                                    li
                                        a(href="#") Алгоритмы
                                    li
                                        a(href="#") Базы данных
                                    li
                                        a(href="#") Веб-программирование
                                    li
                                        a(href="/Study/build/Материалы/2 курс/2 семестр/Сетевые технологиии.html") Сетевые технологии
                    li.course__item
                        a(href="#") 3 курс
                        ul.course__item-list
                            li
                                a(href="#") 1 семестр
                            li
                                a(href="#") 2 семестр
                    li.course__item
                        a(href="#") 4 курс
                        ul.course__item-list
                            li
                                a(href="#") 1 семестр
                            li
                                a(href="#") 2 семестр
            li.nav__list-item
                a.nav__list-item-link(href="#") Что-то там
            li.nav__list-item
                a.nav__list-item-link(href="#") Что-то там
            li.nav__list-item
                a.nav__list-item-link(href="#") Что-то там